# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.kotlin
.eclipse
run
runs
run-data
repo

# Mac OS
.DS_Store

# AI
.vscode
.trae
致敬源码库
